<template>
    <div v-if="!clicked">
        <img src="https://66.media.tumblr.com/9a4290006ecedd4d5cc2523187648f13/tumblr_inline_porv2n4QJs1ufobw9_540.gif"
            alt="">
    </div>
    <div v-else>
        <div>
            Messenger: {{ msg }}
        </div>
        <div>
            {{ rawHtml }}
        </div>
        <div v-html="rawHtml" />

        <div v-for="(neightbor, index) in neighbors" :key="index">
            <div v-if="index < 3" class="d-flex align-items-center">
                <div style="width: 100px;" class="border-right">
                    {{ neightbor.name }}
                </div>
                <div style="width: 100px;" class="border-right">
                    {{ neightbor.sex }}
                </div>
                <div style="width: 100px;" class="border-right">
                    {{ neightbor.height }}
                </div>
                <div style="width: 100px;" class="border-right">
                    {{ neightbor.talent }}
                </div>
                <div style="width: 100px;">
                    {{ neightbor.age }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Logo from '~/components/Logo.vue'

    export default {
        components: {
            Logo
        },
        data() {
            return {
                msg: 'Minh ngu như chó',
                rawHtml: '<span style="color: red;">Minh Anh xinh đẹp</span>',
                clicked: false,
                neighbors: [{
                        name: 'Name',
                        sex: 'Sex',
                        height: 'Height',
                        talent: 'Talent',
                        age: 'Age'
                    },
                    {
                        name: 'Hùng',
                        sex: 'Gay',
                        height: '1m55',
                        talent: 'Stupid',
                        age: '30'
                    },
                    {
                        name: 'Long',
                        sex: 'Gay',
                        height: '1m73',
                        talent: 'smart',
                        age: '23'
                    },
                    {
                        name: 'Nhi',
                        sex: 'Les',
                        height: '1m45',
                        talent: 'Rude',
                        age: '7749'
                    },
                    {
                        name: 'Sang',
                        sex: 'Super Gay',
                        height: '1m7',
                        talent: 'Lazy',
                        age: '23'
                    },
                ]
            }
        },
        created() {
            // lấy dữ liệu ở đây
            // code gì đó để lấy dữ liệu
            // quản lý loader
            // giả sử đã lấy được dữ liệu
            // if (get được dữ liệu) thì
            setTimeout(() => {
                this.clicked = true;
            }, 2000);
        },
        mounted() {
            // làm về DOM
        },
        updated() {

        },
        methods: {},
        destroyed() {},
    }
</script>

<style>
    .container {
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .title {
        font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
            'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        display: block;
        font-weight: 300;
        font-size: 100px;
        color: #35495e;
        letter-spacing: 1px;
    }

    .subtitle {
        font-weight: 300;
        font-size: 42px;
        color: #526488;
        word-spacing: 5px;
        padding-bottom: 15px;
    }

    .links {
        padding-top: 15px;
    }
</style>
